body {
    background-color:rgb(238, 238, 235);
    box-sizing:border-box;
}

#site-title a{
    text-decoration: none;
    color:black;
     &:hover, &:focus{
        text-shadow: 2px 2px 8px rgb(251, 255, 35);
    &:active{
        color:rgb(24, 24, 26)
}}
}

.gallery-cat{
    display:none;
}

.show {
    display:inline-flex;
    flex-wrap:wrap;
    
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-content:flex-start;
text-align: center;
}

#navbar{grid-area:menu;

background-color:blue;
grid-column:3/6;
grid-row:1/3;

}


#navbar-list {
    list-style-type:none;
    margin: 0 10px 0 10px;
    display:flex;
    flex-wrap: wrap;
    height: 115px;
    width:auto;


}


#navbar-list button {
    text-decoration: none;
    border: 1px solid green;
    font-size:large;
    writing-mode: vertical-rl;

    color:wheat;
    background-color: blue;
    max-height: auto;
    width: 25%;

    flex-wrap:wrap;


}

#navbar-list button:hover, button:focus {

    color:rgb(61, 54, 54);
    cursor:pointer;
    background-color: rgb(251, 255, 35);
}

#navbar-list button:active {
    border: 4px solid;
}

.main-content{grid-area:mcont;
background-color: white;

grid-column:6/9;
grid-row:2/4;
}

div.side-gallery{grid-area:sidegal;

background-color:rgb(24, 24, 26);
border:2px rgb(0, 0, 0) solid ;
height:100%; 
width:auto;
overflow:auto;
padding:10px;

display:flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
align-content:flex-start;
text-align: center;

grid-column:2/5;
grid-row:3/4;

}

div.content{
    margin: 4px;
    

}

div.content > img{
    max-width: 200px; max-height: 100px;
    width:100%;
    
    object-fit:cover;
    cursor:pointer;

    &:hover, &:focus {
        transition: opacity 0.2s;
        opacity: 0.7;
        box-shadow: 0 0 5px 5px rgb(68, 35, 255);
    }
}



#big-window{
    border: 2px greenyellow solid;
    margin: 20px 50px;

}

#big-window > img{  
    aspect-ratio: 1/1;
    border-radius: var(--default-border-radius);
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
}

.grid-container {
    display:grid;
    grid-template-columns: 20px 100px 110px 220px 10px 800px
                        50px 50px 400px;
    grid-template-rows: 100px 100px 800px 150px;

    background-color:black;
}

